* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .navbar {
  margin-top: 0 !important;
} */


h1 {
    color: rgb(239, 237, 237); /* Establece el color del texto en blanco */
    -webkit-text-stroke: 1px rgb(188, 11, 11); /* Agrega un borde de 1px alrededor del texto en rojo */
    text-shadow: 
      3px 3px 0 rgb(29, 27, 27), 
      -1px -1px 0 rgb(3, 3, 3), 
      1px -1px 0 rgb(3, 3, 3), 
      -1px 1px 0 red, 
      1px 1px 0 red; /* Agrega sombras para simular el borde */
}